@{
    ViewBag.Title = "Home Page";
}
 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-5">CLIENTE WEB .NET FRAMEWORK 4.5</h4>
     
    </div>
</div>

 

 